<launch>

<node name="gmapping" pkg="gmapping" type="slam_gmapping" >
    <param name="xmin" value="-5.0"/>
    <param name="ymin" value="-5.0"/>
    <param name="xmax" value="5.0"/>
    <param name="ymax" value="5.0"/>
</node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nuglebot)/rviz/slam.rviz"/>
</launch>
